*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ### Primary */

    --Red: hsl(0, 100%, 74%); 
    --Green: hsl(154, 59%, 51%);

   /* ### Accent */

    --Blue: hsl(248, 32%, 49%);

    /* ### Neutral */

    --Dark-Blue: hsl(249, 10%, 26%); 
    --Grayish-Blue: hsl(246, 25%, 77%);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: hsl(0, 100%, 74%);
    background-image: url(./images/bg-intro-desktop.png);
    color: #fff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}

.container > div {
    flex: 1;
    padding: 0 20px;
}

h1 {
    font-size: 40px;
    line-height: 50px;
}

p {
    opacity: .75;
}

.box {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 6px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.box p {
    margin: 0;
}

.right p {
    background-color: hsl(248, 32%, 49%);
    padding: 20px;
    margin: 20px 0;
}

.form-input {
    position: relative;
    margin-bottom: 30px;
}

.form-input small {
    color: hsl(0, 100%, 74%);
    font-weight: 600;
    position: absolute;
    bottom: -24px;
    right: 0;
    opacity: 0;
    text-align: right;
    text-decoration: none;
}

input {
    border-radius: 5px;
    border: 1.3px solid hsl(246, 25%, 77%);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 25px;
    display: block;
    width: 100%;
}

.form-input.error input {
    border-color: hsl(0, 100%, 74%);
    color: hsl(0, 100%, 74%);
}

form-input.error input::placeholder {
    color: hsl(0, 100%, 74%);
}

input:focus {
    border: 1.2px solid hsl(248, 32%, 49%);
    outline: none;
}

.form-input img {
    opacity: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    height: 20px;
}

.form-input.error img {
    opacity: 1;
}

button {
    background-color: hsl(154, 59%, 51%);
    border-radius: 5px;
    border: 1px solid hsl(154, 59%, 51%);
    box-shadow: 0 2px hsl(154, 59%, 51%);
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 25px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    width: 100%;
}

button:focus {
    outline: none;
}

button:active {
    box-shadow: 0 0 hsl(154, 59%, 45%);
    transform: translateY(2px);
}

.form-input small {
    opacity: 0;
}

.form-input.error small {
    opacity: 1;
} 

small {
    display: block;
    color: #bbb;
    font-size: 11px;
    font-weight: 500;
    margin-top: 15px;
}

@media screen and (max-width: 768px) {
    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    .container {
        flex-direction: column;
    }   
}